name: master

on:
  push:
    branches: [ master ]

env:
  CACHE_BUNDLER: ~/.bundler


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
          uses: actions/checkout@v2

      - name: set up JDK 11
              uses: actions/setup-java@v1
              with:
                java-version: 11

      - name: Cache gradle
              uses: actions/cache@v1
              with:
                path: ~/.gradle/caches
                key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
                restore-keys: |
                  ${{ runner.os }}-gradle-

      - name: Bundler cache
              uses: actions/cache@v1
              with:
                path: $CACHE_BUNDLER
                key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
                restore-keys: |
                  ${{ runner.os }}-gems-

      - name: setup ruby
              uses: actions/setup-ruby@v1
              with:
                ruby-version: '2.6'

      - name: install dependencies
              run: gem install bundler && bundle install

      - name: fastlane format
              uses: maierj/fastlane-action@v1.4.0
              with:
                lane: ktlintFormat
                skip-tracking: false
                subdirectory: fastlane
                bundle-install-path: CACHE_BUNDLER

      - name: fastlane detekt
          uses: maierj/fastlane-action@v1.4.0
          with:
            lane: detekt
            skip-tracking: false
            subdirectory: fastlane
            bundle-install-path: CACHE_BUNDLER